doctype HTML
html
  link(rel='stylesheet', href='/styles/style.css')
  head
  body 
    //- Specify type as button to inform the browsers of the type of button
    button(class="btn" type="button")
      //- This collects an inline svg
      include ./assets/happy.pug 
          span So Good!