$colA: #a6a7a9;
$colB: #fcfcfc;
$colC: #3b3d42;

body {
  background-color: rgb(31, 31, 31);
}

.btn {
  display: flex;

  // Old style: flex-flow: row wrap;
  flex-flow: row nowrap; // New style

  // Old style: align-items: middle;
  align-items: center; // New style

  // Old style: padding: 5px 15px 10px 10px; -> changed padding top to ensure consistent spacing
  padding: 10px 15px 10px 10px; // New style

  // Suggestion: Could convert to a SASS variable
  background: #3d3f42;

  // Added: No outline when btn is in focus
  outline: none;

  border: none;
  border-radius: 4px;

  // Added: provide a smoother transition on hover to be consistent with child elements
  transition: 0.2s all;

  svg {
    width: 18px;
    height: 18px;

    // Added: provides some spacing between svg and span
    margin-right: 10px;

    fill: $colA;
    stroke: $colA;
    transition: 0.2s all;
  }

  span {
    font-family: "Inter", sans-serif;
    font-size: 12.35px;
    font-weight: 700;
    color: $colA;
    transition: 0.2s all;
  }

  &:hover,
  &:hover svg,
  &:hover span,
  // Suggestion: Add styles for focus state to provide keyboard users with feedback when they are focused on the button
  &:focus,
  &:focus svg,
  &:focus span {
    // Suggestion: Could convert to a SASS variable
    background: #515357;
    fill: $colB;
    stroke: $colB;
    color: $colB;

    // Removed: this property is redundant here because it exists in the base elements (i.e. svg, span, and .btn)
    // transition: 0.2s all;
  }

  &:active,
  &:active svg,
  &:active span {
    // Suggestion: Could convert to a SASS variable
    background: #d1d1d2;
    fill: $colC;
    stroke: $colC;
    color: $colC;
  }
}
